<h1>Bienvenido <%= current_user.email %>,</h1>
<p>Gestor de encuestas</p>

<ul>
    <li><%= link_to "P16", "rapidfire/question_groups/2/answer_groups/new" %></li>
    <li><%= link_to "Nueva Encuesta", "rapidfire/question_groups/new" %></li>
    <li><%= link_to "Administrar Encuestas", "rapidfire" %></li>
    <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
</ul>
